@charset "utf-8";

.ul-group ul {
    list-style: none;
    padding-left: 0;
}

.button-group {
    display: flex;
}

.task-item {
    display: flex;
    align-items: center;
}

.task-item a {
    margin-right: 5px;
}

.task-item form {
    display: inline;
}
